.git
.github
.idea
.DS_Store
.env

.phpunit.result.cache
.scribe
vendor/
node_modules/
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
bootstrap/cache/
tests/
docs/
*.log
*.zip
README.md
docker-compose.yml
start-*.sh
test-*.sh
test-*.php
cloudflared/
.cloudflared/
deploy-workflows.zip
